@import "tailwindcss";

@theme {  
  /* creates bg-carbon, text-carbon, border-carbon + opacity variants */
  --color-carbon: #171817; /* primary brand, text, buttons */
  
  --color-blue: #1F5BAE; /* links, interactive accents, focus rings */
  
  --color-coral: #F76C5E; /* errors, destructive actions, warnings */
  
  /* --color-green: #B4F19C; /* success states, confirmations */
  --color-green: #68BF43; /* testing new greens (NEEDS CHANGING IN layout.tsx ALSO!!): 74CA50 68BF43 */
  
  --color-porcelain: #fbfbfb; /* main bg */

  --color-white: #FFFFFF; /* card bg */
}